<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <div>
        <ul class="header-menu">
            <li><a href="/">Главная</a></li>
            <li><a href="/Home/Calculate">Рассчитать стоимость валки</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <div class="footer">
                <div class="wrapper">
                    <div class="logo">
                        <a href="/"><img src="~/Images/logogo.png" alt=""></a>
                    </div>
                    <div class="contacts">
                        <div class="phone">
                            <a href="tel:+78129818052" class="number fright">981-80-52</a>
                        </div>
                        <div class="phone">
                            <a href="tel:+78129265479" class="number fright">926-54-79</a>
                        </div>
                        <div class="email">
                            <div class="email-text">
                                <a href="mailto:zakaz@hardtree.ru">zakaz@hardtree.ru</a>
                            </div>
                            <img src="~/Images/email.png" />
                        </div>
                    </div>
                    <div class="description">Выбирайте профессионалов!<br><br><br>Адрес:&nbsp;м. Кировский завод, ул. Броневая 8 лит. Д<br></div>

                    <div class="privacypolicy tac">
                        <div class="conf-text tac">Присоединяйтесь к нашей команде, присылайте своё резюме на kadr@hardtree.ru</div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
